.container-one {
    background-color: lightblue;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh;
}
img {
    width:200px;
    height:200px;
    border-radius: 15px;
}
.container-two{
    text-align: center;
}
.container-three {
    background-color: lightgrey;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
.header {
    display:flex;
    justify-content: space-between;
    margin:0 40px;
}
.header li, .header h2 {
    color: white;
}
.title-content{
    display: flex;
    margin: auto;
    width: 500px;
}
.non-image{
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card {
    display: flex;
    flex-wrap: wrap;
    width:200px;
}
.author {
    text-align: end;
}
.quote {
    width:300px;
    margin:auto;
    padding: 30px;
    font-size: 22px;
}
.sign-up-box {
    background-color: blue;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;

}
.sign-up-button {
    padding: 5px 25px;
    border-radius: 8px;
}
.footer {
    background-color: grey;
    text-align: center;
    padding: 20px;
}
h1, p {
    color: white;
}
